@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<h3>Login Page</h3>
@ViewBag.error
<form method="post" asp-controller="account" asp-action="login">
    <table cellpadding="2" cellspacing="2">
        <tr>
            <td width="150">Username</td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td width="150">Password</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Login"></td>
        </tr>
    </table>
</form>
<form method="post" asp-controller="account" asp-action="openremote">
    <table cellpadding="2" cellspacing="2">
        <tr>
            <td width="150">Open remote login</td>
            <td><input type="submit" value="Login"></td>
        </tr>
    </table>
</form>
