<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/site.css" />
    <script src="/js/site.js" type="text/javascript"></script>
</head>
<body>
    <div id="header">
        <h1>
            TimeCore Zeiterfassung
        </h1>
    </div>
    @RenderBody()
</body>
</html>
